.app-input.ant-input-search {
  input.ant-input {
    border-right: 0;
  }
  button.ant-input-search-button {
    border-left: 0;
  }
}
.app-editor {
  max-width: 100%;
  .tiptap[contenteditable="true"] {
    background: #ffffff;
    border-width: 1px;
    border-style: solid;
    border-color: #E6E6E6;
    font-size: 12px;
    border-radius: 6px;
    padding: 4px 11px 4px;

    p {
      margin-top: 0;
      margin-bottom: 0.5rem;
    }
    * {
      color: rgba(76, 76, 76, 0.88);
    }
    pre {
      background-color: #e0e3e0;
    }
  }
  .tiptap[contenteditable="true"]:focus-visible {
    outline: none;
  }
}
