h2.app-title {
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.5;
}

h3.app-title {
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 1.5;
}

.page-container {
  .box-container-1:not(:last-child) {
    margin-bottom: 2rem;
  }
}

.box-container-1 {
  .title-container {
    margin-bottom: 1rem;
  }
}

.project-thumbnail {
  position: relative;
  &::before {
    content: "";
    display: block;
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 0;
  }
}

.app-card.ant-card {
  .ant-card-head {
    border-bottom: none;
  }
}


.thumbnail-container:hover div.backdrop {
  display: flex !important;
}
.thumbnail-container:blur div.backdrop {
  display: flex !important;
}